**/.DS_Store

# C
c_build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
tasks/**/c/*.d
tasks/**/c/*.o
tasks/**/c/*.ko
tasks/**/c/*.obj
tasks/**/c/*.elf
tasks/**/c/*.ilk
tasks/**/c/*.map
tasks/**/c/*.exp
tasks/**/c/*.gch
tasks/**/c/*.pch
tasks/**/c/*.lib
tasks/**/c/*.a
tasks/**/c/*.la
tasks/**/c/*.lo
tasks/**/c/*.dll
tasks/**/c/*.so
tasks/**/c/*.so.*
tasks/**/c/*.dylib
tasks/**/c/*.exe
tasks/**/c/*.out
tasks/**/c/*.app
tasks/**/c/*.i*86
tasks/**/c/*.x86_64
tasks/**/c/*.hex
tasks/**/c/*.dSYM/
tasks/**/c/*.su
tasks/**/c/*.idb
tasks/**/c/*.pdb
tasks/**/c/*.mod*
tasks/**/c/*.cmd
tasks/**/c/.tmp_versions/
tasks/**/c/modules.order
tasks/**/c/Module.symvers
tasks/**/c/Mkfile.old
tasks/**/c/dkms.conf

# Go
tasks/**/go/*.exe
tasks/**/go/*.exe~
tasks/**/go/*.dll
tasks/**/go/*.so
tasks/**/go/*.dylib
tasks/**/go/*.test
tasks/**/go/*.out
tasks/**/go/go.work