name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  c-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: 12
          platform: x64
      - name: Install dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: make cmake ninja-build
          version: 1.0
      - name: Build system
        run: make build-c
      - name: Run tests
        run: make test-c
